/* Estilo general/body */
  body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    min-height: 100vh;
  }

/*  */
  /* Estructura fija */
  .navegacion{
    font-size: 16px;
    font-weight: bold;
    padding: 0 1em;
    color:black;
  }
  /* Enlaces estructura fija */
  .navegacion a{
    color: black; 
    text-decoration: none;
  }
  
  nav a:hover {
    color: green;
  }
  
  /* Header */
    header {
      border-bottom: 6px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:white;
      padding: 15px;
      /* Efecto difuminado al header */
      box-shadow: 4px 7px 45px -10px rgba(0,0,0,0.4);
      }

  /* Footer  */
    footer{
      background-color: green;
      color:white;
      text-align: center;
      padding: 10px;
      font-size: 14px;
      margin-top: auto;
    }

  /* Listas menú */
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    }
    
  nav li {
    display: inline;
    }

  /* Estilo botón contacto */
  .contacto a {
    border: 20px solid transparent;
    margin-right: 6px;
    display: inline-block;
  }
  .contacto a:hover { 
    /* Para que aparezca el cuadrado al querer seleccionar contacto */
    border: 20px solid green;
    background-color: green;
    border-radius: 20px;
  }

/* Estilo imágenes */
  .logo img {
    height: 75px;
    }
  .contacto img {
    height: 75px;
  }
  .imagen_principal{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .imagen_principal img{
    max-width: 75%;
    border-radius: 5px;
    object-fit: cover;
    opacity: 0.3; 
    /* Para que la imagen sea mas transparente y el texto sobre ella se pueda leer */
  }
  .opciones_contacto img{
    width: 50px;
    height: 50px;
  }
  .gallery_bloque img{
    width: 100%;
    border-radius: 6px; 
    height: auto;
  }

  .imagen_planta{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagen_planta img{
    width: 100%;
    max-width: 350px;
    height: auto;
  }


/* Estilo main */
  main {
    flex: 1;
    text-align: center;
  }


/* Estilos "principal.html" */
.recuadro_inicio {
  font-weight:bolder;
  color:black;
  position: absolute;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}

/* Estilos "producto.html" */
.gallery{
  justify-items: center;
}
.gallery_bloque {
  display:flex;
  width: 50%;
  border-radius: 6px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.gallery_texto {
  position:absolute;
  width: 100%;
  height:100%;
  display:flex;
  opacity: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color:white;
  background-color: green;
  font-size: 20px;
}
.gallery_bloque:hover .gallery_texto{
  opacity: 1;
}
.gallery_bloque:hover img{
  opacity: 0;
}

/* Estilos "contacto.html" */
.bloque_contacto{
  flex:1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color:white;
  gap: 40px;
  padding: 15px;
}
.boton{
  background-color: white;
  border-color: black;
  border-width: 3px;
  border-radius: 30px;
  display: inline-block;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  padding: 15px 20px;
}
.boton:hover{
  background-color:green;
}
.formulario{
  box-shadow: 4px 7px 45px -10px rgba(0,0,0,0.4);
  background-color: lightgray;
  color: black;
  outline-style:double;
  width:100%;
  flex:1;
}

.menu_contacto{
  width: 20%;
  background-color: green;
  color: white;
  padding: 20%;
  flex: 0 0 20%;
  height: fit-content;
}

.opciones_contacto{
  display:flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* Estilo ventana : "plantas.html" */
.plantas_info{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 15px;
}

.planta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-radius: 6px;
  width: 75%;
  overflow:hidden;
  box-shadow: 4px 7px 45px -10px rgba(0,0,0,0.4);
  margin: 20px;
}

.planta:hover{
  box-shadow: 4px 7px 45px -10px black;
}

.texto_planta{
  width: 50%;
}

/* Estilos compartidos */
.parrafo{
  font-size: 20px;
}
.subtitulo{
  font-weight: bold;
  font-style: italic;
}



